:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafo: 'Open Sans', sans-serif;

    --colorPrimario: #784D3C;
    --gris: #e1e1e1;
    --blaco: #ffffff;
    --negro: #000000;

}
html{
    box-sizing: border-box;
    font-size: 62.5%;/* 1rem = 10px */

}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 2;
}
/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    /* algo nuevo de cc3 min hace lo mismo que lo de arriba*/
    width: min(90%, 120rem);
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fuenteHeading);
    margin: 0;
    line-height: 2;

}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
h5{
    font-size: 2.4rem;
}
h6{
    font-size: 2rem;
}
img{
    max-width: 100%;
}
/* utilidades */
 .no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
} 
.cetrar-texto{
    text-align: center;
}
.webp, .header{
    background-image: url(../img/banner.jpg);
}
.no-webp, .header{
    background-image: url(../img/banner.jpg);
}
.header{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60rem;
}
.header__texto{
    padding-top: 5rem;
    text-align: center;
    color: var(--blaco);
}
@media (min-width: 768px){
    .header__texto{
        margin-top: 15rem;
    }
}
.barra{
    padding-top: 4rem;
}
@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--blaco);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
@media (min-width: 768px){
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blaco);
}
@media (min-width: 768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}
.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom:  2rem;  
}
/*seleccion a la ultima entrada y le quita border para que no se repita en el pie de la pagina*/
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blaco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media (min-width: 768px){
    .boton{
        display: inline-block;
    }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--colorPrimario);
}
.cursos{
    list-style: none;
}
.winget-curso__lable,.curso__lable{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.winget-curso__info,.curso__info{
    font-weight: normal;
}
.winget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.winget-curso:last-of-type{
    border: none;
    margin-bottom: 0;
}
.winget-curso__lable,.winget-curso__info,.curso__lable,.curso__info{
    font-size: 2rem;
}
.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}
/**Sobre Nosotros**/
@media (min-width: 768px){
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.centrar-texto{
    text-align: center;
}
.curso{
    padding: 3rem 0;
    border-bottom: 2px solid var(--gris);
}
@media (min-width: 768px){
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type{
    border: none;
}
/*esto esta arriba en los winget
.curso__lable{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.curso__info{
    font-weight: normal;
}

.curso__lable,.curso__info{
    font-size: 2rem;
}
*/
/** contacto **/
.error{
    background-color: rgb(185,0,0);
    text-align: center;
    padding: 1rem;
    color: var(--blaco);
    text-transform: uppercase;
}
.correcto{
    background-color: rgb(52, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blaco);
    text-transform: uppercase;
}
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario{
    background-color: var(--blaco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo__label{
    flex: 0 0 9px;
    text-align: right;
    padding-right: 2rem;
}
.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea{
    height: 20rem;
}
